In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_csv('Heart (1).csv')

In [4]:
print(data.head())

   Unnamed: 0  Age  Sex     ChestPain  RestBP  Chol  Fbs  RestECG  MaxHR  \
0           1   63    1       typical     145   233    1        2    150
1           2   67    1  asymptomatic     160   286    0        2    108
2           3   67    1  asymptomatic     120   229    0        2    129
3           4   37    1    nonanginal     130   250    0        0    187
4           5   41    0    nontypical     130   204    0        2    172

   ExAng  Oldpeak  Slope   Ca        Thal  AHD
0      0      2.3      3  0.0       fixed   No
1      1      1.5      2  3.0      normal  Yes
2      1      2.6      2  2.0  reversable  Yes
3      0      3.5      3  0.0      normal   No
4      0      1.4      1  0.0      normal   No

In [5]:
print(data.shape)

(303, 15)

In [6]:
#missing values

print(data.isnull().sum())

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            4
Thal          2
AHD           0
dtype: int64

In [7]:
print(data.dtypes)

Unnamed: 0      int64
Age             int64
Sex             int64
ChestPain      object
RestBP          int64
Chol            int64
Fbs             int64
RestECG         int64
MaxHR           int64
ExAng           int64
Oldpeak       float64
Slope           int64
Ca            float64
Thal           object
AHD            object
dtype: object

In [8]:
zeros_count = (data==0).sum()
print(zeros_count)

Unnamed: 0      0
Age             0
Sex            97
ChestPain       0
RestBP          0
Chol            0
Fbs           258
RestECG       151
MaxHR           0
ExAng         204
Oldpeak        99
Slope           0
Ca            176
Thal            0
AHD             0
dtype: int64

In [9]:
age_mean = data['Age'].mean()
print(age_mean)

54.43894389438944

In [10]:
data.describe()

,Unnamed: 0,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,299.000000
mean,152.000000,54.438944,0.679868,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,0.672241
std,87.612784,9.038662,0.467299,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,0.937438
min,1.000000,29.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000
25%,76.500000,48.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000
50%,152.000000,56.000000,1.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000
75%,227.500000,61.000000,1.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000
max,303.000000,77.000000,1.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000

In [11]:
data['Ca'] = data['Ca'].fillna(data['Ca'].mean())

In [12]:
data.isnull().sum()

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            0
Thal          2
AHD           0
dtype: int64

In [15]:
data.nunique()

Unnamed: 0    303
Age            41
Sex             2
ChestPain       4
RestBP         50
Chol          152
Fbs             2
RestECG         3
MaxHR          91
ExAng           2
Oldpeak        40
Slope           3
Ca              5
Thal            3
AHD             2
dtype: int64

In [14]:
most_common = data['Thal'].mode()[0]
data['Thal'] = data['Thal'].fillna(most_common)

In [16]:
print(data.isnull().sum())

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            0
Thal          0
AHD           0
dtype: int64

In [17]:
selected_columns = data[['Age','Sex','ChestPain','RestBP','Chol']]

In [18]:
selected_columns

     Age  Sex     ChestPain  RestBP  Chol
0     63    1       typical     145   233
1     67    1  asymptomatic     160   286
2     67    1  asymptomatic     120   229
3     37    1    nonanginal     130   250
4     41    0    nontypical     130   204
..   ...  ...           ...     ...   ...
298   45    1       typical     110   264
299   68    1  asymptomatic     144   193
300   57    1  asymptomatic     130   131
301   57    0    nontypical     130   236
302   38    1    nonanginal     138   175

[303 rows x 5 columns]

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
train_data, test_data = train_test_split(selected_columns,test_size = 0.25,random_state=42)

In [21]:
train_data

     Age  Sex     ChestPain  RestBP  Chol
287   58    1    nontypical     125   220
282   55    0  asymptomatic     128   205
197   45    0  asymptomatic     138   236
158   60    1  asymptomatic     140   293
164   48    1    nonanginal     124   255
..   ...  ...           ...     ...   ...
188   54    1    nontypical     192   283
71    67    1  asymptomatic     125   254
106   59    1  asymptomatic     140   177
270   61    1  asymptomatic     140   207
102   57    0  asymptomatic     128   303

[227 rows x 5 columns]

In [22]:
test_data

     Age  Sex     ChestPain  RestBP  Chol
179   53    1    nonanginal     130   246
228   54    1  asymptomatic     110   206
111   56    1  asymptomatic     125   249
246   58    1  asymptomatic     100   234
60    51    0  asymptomatic     130   305
..   ...  ...           ...     ...   ...
22    58    1    nontypical     120   284
258   70    1    nontypical     156   245
56    50    1    nonanginal     140   233
242   49    0  asymptomatic     130   269
114   62    0    nonanginal     130   263

[76 rows x 5 columns]

In [24]:
# indexing  and selecting data
data = data.rename(columns={'Unnamed: 0': 'Id'})

In [25]:
data.head()

,Id,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [26]:
row = data.iloc[0]  # First row
rows = data.iloc[1:5]

In [27]:

column = data['Id']

In [28]:
row = data.iloc[0]  # First row
rows = data.iloc[1:5]

In [29]:
print(row)

Id                 1
Age               63
Sex                1
ChestPain    typical
RestBP           145
Chol             233
Fbs                1
RestECG            2
MaxHR            150
ExAng              0
Oldpeak          2.3
Slope              3
Ca               0.0
Thal           fixed
AHD               No
Name: 0, dtype: object

In [30]:
print(rows)

   Id  Age  Sex     ChestPain  RestBP  Chol  Fbs  RestECG  MaxHR  ExAng  \
1   2   67    1  asymptomatic     160   286    0        2    108      1
2   3   67    1  asymptomatic     120   229    0        2    129      1
3   4   37    1    nonanginal     130   250    0        0    187      0
4   5   41    0    nontypical     130   204    0        2    172      0

   Oldpeak  Slope   Ca        Thal  AHD
1      1.5      2  3.0      normal  Yes
2      2.6      2  2.0  reversable  Yes
3      3.5      3  0.0      normal   No
4      1.4      1  0.0      normal   No

In [31]:
data.sort_values(by='Age')

,Id,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
132,133,29,1,nontypical,130,204,0,2,202,0,0.0,1,0.0,normal,No
225,226,34,0,nontypical,118,210,0,0,192,0,0.7,1,0.0,normal,No
101,102,34,1,typical,118,182,0,2,174,0,0.0,1,0.0,normal,No
117,118,35,0,asymptomatic,138,183,0,0,182,0,1.4,1,0.0,normal,No
138,139,35,1,asymptomatic,120,198,0,0,130,1,1.6,2,0.0,reversable,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,104,71,0,nonanginal,110,265,1,2,130,0,0.0,1,1.0,normal,No
42,43,71,0,nontypical,160,302,0,0,162,0,0.4,1,2.0,normal,No
233,234,74,0,nontypical,120,269,0,2,121,1,0.2,1,1.0,normal,No
257,258,76,0,nonanginal,140,197,0,1,116,0,1.1,2,0.0,normal,No
161,162,77,1,asymptomatic,125,304,0,2,162,1,0.0,1,3.0,normal,Yes

In [32]:
data.sort_values(by ='Age',ascending=False)

,Id,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
161,162,77,1,asymptomatic,125,304,0,2,162,1,0.0,1,3.0,normal,Yes
257,258,76,0,nonanginal,140,197,0,1,116,0,1.1,2,0.0,normal,No
233,234,74,0,nontypical,120,269,0,2,121,1,0.2,1,1.0,normal,No
273,274,71,0,asymptomatic,112,149,0,0,125,0,1.6,2,0.0,normal,No
42,43,71,0,nontypical,160,302,0,0,162,0,0.4,1,2.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,139,35,1,asymptomatic,120,198,0,0,130,1,1.6,2,0.0,reversable,Yes
283,284,35,1,nontypical,122,192,0,0,174,0,0.0,1,0.0,normal,No
225,226,34,0,nontypical,118,210,0,0,192,0,0.7,1,0.0,normal,No
101,102,34,1,typical,118,182,0,2,174,0,0.0,1,0.0,normal,No
132,133,29,1,nontypical,130,204,0,2,202,0,0.0,1,0.0,normal,No